@model IEnumerable<MiniProject009.Models.Expenditure>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenditureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenditureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenditureAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenditureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenditureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenditureAmount)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
